@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #03191e;
  --secondary-color: #c1cfda;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
  color: var(--primary-color);
}

button {
  margin: 0rem 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

li {
  list-style: none;
  width: 70%;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 0.5rem;
  display: block;
  margin: 1rem auto;
  color: var(--primary-color);
  text-align: left;
  background-color: var(--secondary-color);
}
